/* citazioni */

#cit::before { content: open-quote; }
#cit::after { content: close-quote; }
#cit { 
	quotes: "«" "»" "‘" "’";
}

/* messaggi */

#messaggio { font-style: italic; }
#messaggio::before { content: "Messaggio"; }
