/* caption */

#caption {
	background: #f9f9f9;
	border: 1px solid #cccccc;
	color: #262626;
	font-family: 11px/1.4em Arial, sans-serif;
	font-size: 11px;
	font-stretch: normal;
	line-height: 1.4em;
	margin: 0.5em 0.8em 0.5em 0pt;
	outline: 0px;
	padding: 5px;
	text-align: center;
	vertical-align: baseline;
}

.caption {
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	padding: 3px;
	font: 11px/1.4em Arial, sans-serif;
	text-align: center;
	vertical-align: baseline;
}

.caption img {
	border: 1px solid #cccccc;
	vertical-align:middle;
	margin-bottom: 3px;
	width:92%;
}

.right {
	margin: 0.5em 0pt 0.5em 0.8em;
	float:right; 
}

.left {
	margin: 0.5em 0.8em 0.5em 0;
	float:left;
}

#box {
   margin: 15px; padding: 5px 5px 5px 5px; background: #fafafa; border: 1px solid #4284b0;
}

/* citazioni */

#cit::before { content: open-quote; }
#cit::after { content: close-quote; }
#cit { 
	quotes: "«" "»" "‘" "’";
}

/* messaggi */

#astroverne { font-style: italic; }
#astroverne::before { content: "I Viaggi straordinari sono tutti i romanzi scritti da Jules Verne, i 54 pubblicati tra il 1863 e il 1905 e gli 8 usciti postumi tra il 1905 e il 1919. E questa è la recensione di uno di essi."; }

/* messaggi nascosti */

.extra { display: none; }
