scheda {
    margin: 15px; padding: 5px 5px 5px 5px; background: #fafafa; border: 1px solid #4284b0;
}

titolo {
    font-style: italic;
}

autore {
    font-weight: bold;
}

autore::before {
    content: "di";
}

/* <trad></trad><ed></ed><data></data><formato></formato><euro></euro><isbn></isbn> */