scheda {
    display: block;
    margin: 15px; padding: 5px 5px 5px 5px; background: #fafafa; border: 1px solid #4284b0;
}

scheda::before {
    font-weight: bold;
    content: "Abbiamo parlato di:";
}

titolo {
    display: block;
    font-style: italic;
}

autore {
    display: block;
    font-weight: bold;
}

trad {
    display: block;
}

trad::before {
    content: "traduzione di ";
}

ed {
    display: block;
}

uscita {
    font-weight: normal;
}

uscita::before {
    content: " - ";
}

formato {
    display: block;
}

pag {
    font-weight: normal;
}

pag::after {
    content: " pagine, "
}

euro, dollaro, lira {
    font-weight: lighter;
}

euro::before {
    content: " - € ";
}

dollaro::before {
    content: " - $ ";
}

lira::before {
    content: " - £ ";
}

isbn {
    display: block;
    font-weight: lighter;
}